body{
  background-image:url("https://img0.baidu.com/it/u=462482478,747351477&fm=253&fmt=auto&app=138&f=GIF?w=400&h=400");
 text-align: center;
 min-height: 100vh;
}
*{
  margin: 0;
  padding: 0;
}
h2{
    color:pink;
}
.header {
    padding: 20px;
    text-align: center;
}
.se {
  width: auto;
  font-size: 60px;
  text-align: center;
  background: -webkit-linear-gradient(left, #b05821,#f048ff) 0 0 no-repeat;
  background-size: 160px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.168);
  animation: se 3s infinite;
}
@keyframes se{
  0% {
    background-position: 0 0;
}

100% {
    background-position: 100% 100%;
}
}
.topnav {
    overflow: hidden;
    background-color: (#007380,#00ff999f);
 }
  
.topnav ul {
      margin: 0;
      padding: 0;
    }
    
.topnav ul li {
      display: inline-block;
      padding: 1em;
      width:12%;
    }
.topnav ul li a{
    float:left;
    width:100px;
    height:35px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    padding: 14px 16px;
    color: #0b03f4;
    background: linear-gradient(to right,#03a9f4,#f441a5,#ffeb3b,#09a8f4);
    background-size: 400%;
    border-radius: 50px;
    z-index: 1;
}
.topnav ul li a::before{
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    background: linear-gradient(to right,#03a9f4,#f441a5,#ffeb3b,#09a8f4);
    background-size: 400%;
    border-radius: 50px;
    z-index: -1;
    filter: blur(20px);
}
.topnav ul li a:hover{
    animation: streamer 8s infinite;
}
.topnav ul li a:hover::before{
    animation: streamer 8s infinite;
}
@keyframes streamer{
    100%{
        background-position: -400% 0;
    }
  }
  #content_a{
    width:300px;
    height: 500px;
    border:8px solid #6b03f4;
    margin:20px;
    background:paleturquoise;
    float:left;
    border-radius: 15px 15px 15px 15px;
    background-image: url(https://img0.baidu.com/it/u=4055731198,143451448&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=749);
  }
  #content_b{
    width:400px;
    height: 520px;
    border:8px solid #6b03f4;
    margin:20px;
    margin-left: 100px;
    background:paleturquoise;
    float:right;
    border-radius: 15px 15px 15px 15px;
    background-image: url(https://img0.baidu.com/it/u=4055731198,143451448&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=749);
  }
  #content_c{
    width:500px;
    height: 500px;
    border:8px solid #6b03f4;
    margin:20px;
    margin-left: 80px;
    background:paleturquoise;
    float:left;
    border-radius: 15px 15px 15px 15px;
    background-image: url(https://img0.baidu.com/it/u=4055731198,143451448&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=749);
  }
  #content_d{
    width:700px;
    height: 420px;
    border:8px solid #6b03f4;
    background:paleturquoise;
   float:right;
   margin-right: 2px;
    border-radius: 15px 15px 15px 15px;
  }
  .test{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.test ul{
    list-style: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.test ul li{
  width:100%;
  height:5%;
    float: left;
    text-align: center;
}
.test p{
    display: block;
    cursor: pointer;
}
.box{
  height:400px;
    background: #4ae3fb;
    clear: both;
    border-radius: 15px 15px 15px 15px;
}
#box1{
  background-image: url(https://img2.baidu.com/it/u=1825108274,61797759&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=281);
}
#box2{
  background-image: url(https://img2.baidu.com/it/u=1825108274,61797759&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=281);
    display: none;

}
#box3{
  background-image: url(https://img2.baidu.com/it/u=1825108274,61797759&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=281);
    display: none;
}
#box4{
  width:100%;
  background-image: url(https://img2.baidu.com/it/u=1825108274,61797759&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=281);
  display: none;
}
#box5{
  width:100%;
  background-image: url(https://img2.baidu.com/it/u=1825108274,61797759&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=281);
  display: none;
}
.test p:hover{
    background: #4874FF;
}
.btn1{
    background:  #5C47F3;
    display: block;
    border-radius: 15px 15px 15px 15px;
}
.btn2{
    background: #4874FF;
    display: block;
    border-radius: 15px 15px 15px 15px;
}
.box img{
width:50%;
height:60%;

}